# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# =========================
# Virtual environment
# =========================
venv/
.env

# =========================
# ML / Data artifacts
# =========================
mlruns/
results/
model/
data/*.csv
data/*.npy

# =========================
# Logs
# =========================
logs/
*.jsonl

# =========================
# HuggingFace / Transformers
# =========================
.cache/
.cache/*
**/.cache/

# =========================
# Docker
# =========================
*.tar

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/
.idea/
